<html>
    <head>
		<title>{{ username }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	</head>
    <body style="background:#d5eee6;color:#336699">
            <div style="text-align:center">
                <h1 style="font-size:x-large;color:#9933ff">
                    Home
                </h1>
                <h1 style="font-size:x-large;color:#cc0099">
                    Hi Welcome to {{ username }}!🎉 
                </h1>
                <p>説明１：{{ user_home.description1 }}</p>
                <p>
                    <a href="{{user_home.image.url}}">
                        <img src="{{user_home.image.url}}" style="width:50%">
                    </a>
                </p>
                </h2>
                <h2 style="font-size:x-large;color:#ffa500">
                    Works
                </h2>
            <nav>
                {% for item in category_list %}
                    <ul>
                        <li><a href="{% url 'images_list' item.author.username item.name %}" calss="btn btn-primary">{{item.name}}</a></li>
                    </ul>
                {% endfor %}
            </nav>
            <p>説明２：{{ user_home.description2 }}</p>
    </body>
</html>